@font-face{
    font-family: hello;
    src: url(bold1/font2.ttf);
}
body{
    background-image: url(images/snowbackground1.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}
#nav li {
    float: left;
}
#nav li a {
    display: block;
    color: white;
    text-align:center;
    padding: 14px 18px;
    text-decoration: none
}
#nav li a:hover {
    background-color: #111;
    color: #00a1ff;
}
#nav li a:active {
    background-color: pink;
    color: black;
}
div {
    border: solid 3px;
    margin: 50px;
    padding: 70px;
    text-align: center;
}
#notes li a {
    color: white;
}